@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$font: 'Montserrat',
sans-serif;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #E5E5E5;
}

.container {
  margin: 0 auto;
  width: 90vw;
  margin-top: 3em;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.inputContainer {
  width: 75vw;
  margin: 1em;

  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: .5em;
  font-size: 16px;
  font-family: $font;
  text-align: center;
}

select,
input {
  height: 3.5em;
  border-radius: 10px;
  font-family: $font;
  font-size: 20px;
  padding: 1em;
  border: 0px;
  background-color: #FFFFFF;
}

.dateDifference {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  font-family: $font;
  font-size: 20px;
  text-align: center;
}

@media only screen and (min-width: 790px){
  .container {
    margin: 0 auto;
    width: 90vw;
    margin-top: 3em;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .inputContainer {
    width: 22vw;

    display: flex;
    flex-direction: column;
  }

  label {
    margin-bottom: .5em;
    font-size: 16px;
    font-family: $font;
    text-align: left;
  }

  select,
  input {
    height: 4em;
    border-radius: 10px;
    font-family: $font;
    font-size: 20px;
    padding: 1em;
    border: 0px;
  }

  .dateDifference {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    font-family: $font;
    font-size: 50px;
  }
}
